import React, { useState } from 'react';
import { Dialog } from 'primereact/dialog';
import { Button } from 'primereact/button';

const FormCadastro{{ entidade.name_pascal }} = ({ visivel, aoFechar, aoEnviar }) => {
  const [dados, setDados] = useState({});

  const handleChange = (e) => {
    const { name, value } = e.target;
    setDados({ ...dados, [name]: value });
  };

  const handleSubmit = (e) => {
    e.preventDefault();
    aoEnviar(dados);
    setDados({}); // Limpar formulário após envio
    aoFechar();
  };

  const footer = (
    <div>
      <Button label="Cancelar" icon="pi pi-times" onClick={aoFechar} className="p-button-text" />
      <Button label="Salvar" icon="pi pi-check" onClick={handleSubmit} autoFocus />
    </div>
  );

  return (
    <Dialog header="Cadastrar {{ entidade.name }}" visible={visivel} style={% raw %}{{ width: "50vw" }}{% endraw %} footer={footer} onHide={aoFechar}>
      <form onSubmit={handleSubmit}>
        {% for atributo in atributos %}
        <div>
          <label htmlFor="{{ atributo.name }}">{{ atributo.label if atributo.label is defined else atributo.name }}</label>
          <input
            type="{{ atributo.type }}"
            id="{{ atributo.name }}"
            name="{{ atributo.name }}"
            value={dados["{{ atributo.name }}"] || ''}
            onChange={handleChange}
            {{ 'required' if atributo.required is defined and atributo.required else '' }}
          />
        </div>
        {% endfor %}
      </form>
    </Dialog>
  );
};

export default FormCadastro{{ entidade.name_pascal }};