{
  "startsWith": "Comeca com",
  "contains": "Contem",
  "notContains": "Nao contem",
  "endsWith": "Termina com",
  "equals": "Igual",
  "notEquals": "Diferente",
  "noFilter": "Sem filtro",
  "lt": "Menor que",
  "lte": "Menor que ou igual a",
  "gt": "Maior que",
  "gte": "Maior que ou igual a",
  "dateIs": "Data e",
  "dateIsNot": "Data nao e",
  "dateBefore": "Data e anterior",
  "dateAfter": "Data e posterior",
  "custom": "Customizado",
  "clear": "Limpar",
  "apply": "Aplicar",
  "matchAll": "Todos",
  "matchAny": "Qualquer",
  "addRule": "Adicionar Regra",
  "removeRule": "Remover Regra",
  "accept": "Sim",
  "reject": "Nao",
  "choose": "Escolha",
  "upload": "Upload",
  "cancel": "Cancelar",
  "dayNames": [
    "domingo",
    "segunda",
    "terca",
    "quarta",
    "quinta",
    "sexta",
    "sabado"
  ],
  "dayNamesShort": ["dom", "seg", "ter", "qua", "qui", "sex", "sab"],
  "dayNamesMin": ["Do", "Se", "Te", "Qa", "Qi", "Sx", "Sa"],
  "monthNames": [
    "Janeiro",
    "Fevereiro",
    "Marco",
    "Abril",
    "Maio",
    "Junho",
    "Julho",
    "Agosto",
    "Setembro",
    "Outubro",
    "Novembro",
    "Dezembro"
  ],
  "monthNamesShort": [
    "Jan",
    "Fev",
    "Mar",
    "Abr",
    "Mai",
    "Jun",
    "Jul",
    "Ago",
    "Set",
    "Out",
    "Nov",
    "Dez"
  ],
  "today": "Hoje",
  "weekHeader": "Sem",
  "firstDayOfWeek": 0,
  "dateFormat": "dd/mm/yy",
  "weak": "Fraco",
  "medium": "Medio",
  "strong": "Forte",
  "passwordPrompt": "Digite uma senha",
  "emptyFilterMessage": "Sem opcoes disponiveis",
  "emptyMessage": "Sem resultados",
  "aria": {
    "trueLabel": "True",
    "falseLabel": "False",
    "nullLabel": "Nao selecionado",
    "pageLabel": "Pagina",
    "firstPaginaeLabel": "Primeira Pagina",
    "lastPaginaeLabel": "Ultima Pagina",
    "nextPaginaeLabel": "Proxima",
    "previousPaginaeLabel": "Anterior"
  }
}
