body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--surface-100);
}
h1 {
  margin: 0;
}
h1,
label,
a {
  color: var(--text-color);
}
.p-inputtext {
  height: 32px;
}
.field label {
  padding: 0;
}
.field.grid {
  margin: 0;
}
.p-inputnumber-button {
  height: 16px;
}
.p-dropdown-label {
  padding: 3px 10px;
}
.p-card-title {
  font-size: 1.4rem !important;
  margin-bottom: 24px !important;
}
.p-card-body {
  padding: 0 15px !important;
}
.p-card-content {
  padding: 0 !important;
}
.p-dialog-content {
  padding: 5px !important;
}
.p-dialog-header {
  padding-top: 5px !important;
  padding-bottom: 0 !important;
}
.p-dialog-footer {
  text-align: start !important;
  padding-bottom: 5px !important;
}
.field-radiobutton {
  margin-bottom: 0;
}
.p-column-title {
  font-size: 14px;
}
td {
  font-size: 14px;
}
.p-datatable-tbody td {
  padding: 2px 10px !important;
}
.p-column-header-content {
  display: block !important;
  margin-left: 0 !important;
}
.p-datatable .p-paginator-bottom {
  height: 50px;
  padding: 0;
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  height: 40px;
}
.input400 {
  width: 400px;
}
.input300 {
  width: 350px;
}
.input200 {
  width: 200px;
}
.input70 {
  width: 70px;
}
.input30 {
  width: 30px;
}
@media (max-width: 576px) {
  .input400 {
    width: auto;
  }
  .input300 {
    width: auto;
  }
  .input200 {
    width: auto;
  }
}